body{
    margin: 0;
}
#root{
    height: 100vh;
}
.content{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    --text: #010B2D;
    --background: #F6F4F3;
    --primary: #2D5064;
    --secondary: #717C89;
    --accent: #89043D;
}