.tile{
    height: 100%;
    width: 100%;
    color: #010B19;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #89043D;
    box-sizing: border-box;
    cursor: pointer;
}

.empty{
    background: #717C89;
    cursor: default;
}